<div class="about">
  <img src="/assets/icons/logo.png" />
  <h1 class="title">Monitraks</h1>
  <h3 class="slogan">Always sunny</h3>
</div>
<div class="wrapper">
  <form class="tui-form" [formGroup]="form" (submit)="formSubmit()">
    <h2 class="tui-form__header">Добро пожаловать!</h2>
    <div class="tui-form__row">
      <tui-input [formControl]="form.controls.login" tuiTextfieldIconLeft="tuiIconMailLarge">
        Email
        <input tuiTextfield placeholder="you@example.com" type="email" />
      </tui-input>
    </div>
    <div class="tui-form__row">
      <tui-input-password [formControl]="form.controls.password" tuiTextfieldIconLeft="tuiIconLockLarge">
        Пароль
      </tui-input-password>
      <div class="tui-form__field-note"><a tuiLink routerLink="../password-recovery">Забыли пароль?</a></div>
    </div>
    <div class="tui-form__row" *ngIf="error | async as message">
      <tui-notification status="error">Не удалось войти: {{ message }}</tui-notification>
    </div>
    <div class="tui-form__buttons">
      <button
        type="submit"
        tuiButton
        class="tui-form__button"
        [disabled]="isLoading || !form.valid"
        [showLoader]="isLoading">
        Войти
      </button>
    </div>
    <div class="text-divider">или</div>
    <div class="tui-form__buttons">
      <button tuiButton class="tui-form__button" appearance="outline" icon="/assets/icons/google.svg">Google</button>
    </div>
    <div class="tui-form__row signup">Нет аккаунта? <a tuiLink routerLink="../signup">Регистрация</a></div>
  </form>
</div>
