@import '@taiga-ui/core/styles/taiga-ui-local.less';

:host {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;

  .about {
    flex: 0 0 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem 0;
    background: #6c698d;
    color: #f7ebec;

    .title {
      font: var(--tui-font-heading-1);
      font-weight: lighter;
      margin-bottom: 0;
    }

    .slogan {
      font: var(--tui-font-text-xl);
      margin-top: 0;
    }

    img {
      width: 200px;
      height: 200px;
      filter: brightness(0) saturate(100%) invert(89%) sepia(5%) saturate(358%) hue-rotate(307deg) brightness(107%)
        contrast(94%);
    }
  }

  .wrapper {
    flex: 1 0 66%;
    display: flex;
    justify-content: center;
    align-items: center;

    .tui-form {
      width: 50%;
    }

    .tui-form__field-note {
      text-align: right;
    }

    .text-divider {
      margin-top: 2rem;
      display: flex;
      align-items: center;
      color: var(--tui-text-03);

      &::before,
      &::after {
        content: '';
        height: 1px;
        background-color: silver;
        flex-grow: 1;
        margin: 1rem;
      }
    }

    button {
      width: 100%;
    }

    .signup {
      margin-top: 2rem;
      text-align: center;
      font: var(--tui-font-text-m);
    }
  }
}
