<button tuiAction type="button" class="action add-transaction" icon="tuiIconPlusLarge" (click)="addTransaction.emit()">
  Добавить транзакцию
</button>
<button tuiAction type="button" class="action edit" icon="tuiIconEdit2Large" (click)="editAccount.emit()">
  Редактировать
</button>
<button tuiAction type="button" class="action close" icon="tuiIconLockLarge">Закрыть</button>
<button tuiAction type="button" class="action delete" icon="tuiIconTrash2Large" (click)="removeAccount.emit()">
  Удалить
</button>
