<form class="tui-form" [formGroup]="accountForm" (submit)="saveForm()">
  <div class="tui-form__row">
    <tui-input [formControl]="accountForm.controls.name">Название</tui-input>
    <tui-error [formControl]="accountForm.controls.name" [error]="[] | tuiFieldError | async"></tui-error>
  </div>
  <div class="tui-form__row">
    <tui-combo-box [formControl]="accountForm.controls.bank.controls.name">
      Банк
      <input tuiTextfield />
      <tui-data-list-wrapper *tuiDataList [items]="banks"></tui-data-list-wrapper>
    </tui-combo-box>
    <tui-error [formControl]="accountForm.controls.bank.controls.name" [error]="[] | tuiFieldError | async"></tui-error>
  </div>
  <div class="tui-form__row tui-form__row_multi-fields">
    <div class="tui-form__multi-field">
      <tui-input-date
        [formControl]="accountForm.controls.dates.controls.openedDate"
        [min]="openMinDate"
        [max]="openMaxDate">
        Дата открытия
      </tui-input-date>
      <tui-error
        [formControl]="accountForm.controls.dates.controls.openedDate"
        [error]="[] | tuiFieldError | async"></tui-error>
    </div>
    <div class="tui-form__multi-field" *ngIf="!accountForm.controls.dates.controls.isOpenEnded.value">
      <tui-input-number
        [formControl]="accountForm.controls.dates.controls.durationDays"
        [min]="1"
        [max]="depositMaxDurationDays">
        Срок (дней)
      </tui-input-number>
    </div>
    <div class="tui-form__multi-field" *ngIf="!accountForm.controls.dates.controls.durationDays.value">
      <tui-checkbox-block [formControl]="accountForm.controls.dates.controls.isOpenEnded">
        Бессрочный
      </tui-checkbox-block>
    </div>
    <div class="tui-form__multi-field" *ngIf="accountForm.controls.dates.controls.durationDays.value">
      <tui-input-date
        [formControl]="accountForm.controls.dates.controls.closingDate"
        [min]="accountForm.controls.dates.controls.openedDate.value || openMinDate"
        [max]="closingMaxDate">
        Дата закрытия
      </tui-input-date>
      <tui-error
        [formControl]="accountForm.controls.dates.controls.closingDate"
        [error]="[] | tuiFieldError | async"></tui-error>
    </div>
  </div>

  <div class="tui-form__buttons tui-form__buttons_align_center">
    <button tuiButton class="tui-form__button" type="submit">Сохранить</button>
    <button tuiButton appearance="secondary" type="reset" class="tui-form__button" (click)="close()">Отмена</button>
  </div>
</form>
