<form class="tui-form" [formGroup]="accountForm" (submit)="saveForm()">
  <div class="tui-form__row">
    <tui-input [formControl]="accountForm.controls.name">Название</tui-input>
    <tui-error [formControl]="accountForm.controls.name" [error]="[] | tuiFieldError | async"></tui-error>
  </div>
  <div class="tui-form__row">
    <tui-combo-box [formControl]="accountForm.controls.bank.controls.name">
      Банк
      <input tuiTextfield />
      <tui-data-list-wrapper *tuiDataList [items]="banks"></tui-data-list-wrapper>
    </tui-combo-box>
    <tui-error [formControl]="accountForm.controls.bank.controls.name" [error]="[] | tuiFieldError | async"></tui-error>
  </div>

  <div class="tui-form__row tui-form__row_multi-fields">
    <div class="tui-form__multi-field">
      <tui-input-date
        [formControl]="accountForm.controls.dates.controls.openedDate"
        [min]="openMinDate"
        [max]="openMaxDate">
        Дата открытия
      </tui-input-date>
      <tui-error
        [formControl]="accountForm.controls.dates.controls.openedDate"
        [error]="[] | tuiFieldError | async"></tui-error>
    </div>
    <div class="tui-form__multi-field" *ngIf="!accountForm.controls.dates.controls.isOpenEnded.value">
      <tui-input-number
        [formControl]="accountForm.controls.dates.controls.durationDays"
        [min]="1"
        [max]="depositMaxDurationDays">
        Срок (дней)
      </tui-input-number>
    </div>
    <div class="tui-form__multi-field" *ngIf="!accountForm.controls.dates.controls.durationDays.value">
      <tui-checkbox-block [formControl]="accountForm.controls.dates.controls.isOpenEnded">
        Бессрочный
      </tui-checkbox-block>
    </div>
    <div class="tui-form__multi-field" *ngIf="accountForm.controls.dates.controls.durationDays.value">
      <tui-input-date
        [formControl]="accountForm.controls.dates.controls.closingDate"
        [min]="accountForm.controls.dates.controls.openedDate.value || openMinDate"
        [max]="closingMaxDate">
        Дата закрытия
      </tui-input-date>
      <tui-error
        [formControl]="accountForm.controls.dates.controls.closingDate"
        [error]="[] | tuiFieldError | async"></tui-error>
    </div>
  </div>

  <div class="tui-form__row" tuiGroup>
    <tui-checkbox-block [formControl]="accountForm.controls.canContribute">Можно пополнять</tui-checkbox-block>
    <tui-checkbox-block [formControl]="accountForm.controls.canWithdraw">Можно снимать</tui-checkbox-block>
  </div>

  <div class="tui-form__header">Проценты</div>
  <button tuiButton size="s" type="button" class="tui-space_bottom-4" appearance="secondary" (click)="addMonth()">
    Добавить срок
  </button>
  <button tuiButton size="s" type="button" class="tui-space_left-2" appearance="secondary" (click)="addMoney()">
    Добавить сумму
  </button>
  <table tuiTable class="tui-table" [columns]="interestColumns">
    <tbody tuiTbody [data]="accountForm.controls.interest.controls.monthSteps.controls">
      <tr tuiTr>
        <ng-container *ngFor="let col of interestColumns; let i = index">
          <ng-container *ngIf="i === 0">
            <td *tuiCell="col" tuiTd>Сумма \ Срок</td>
          </ng-container>
          <ng-container *ngIf="i !== 0"
            ><ng-container *tuiLet="accountForm.controls.interest.controls.monthSteps.at(i - 1) as monthControl">
              <td *tuiCell="col" tuiTd (tuiActiveZoneChange)="closeEditControl($event, monthControl)">
                <ng-container *ngIf="monthControl.enabled; else monthHeader">
                  <tui-input-number
                    [formControl]="monthControl"
                    postfix="мес."
                    [precision]="0"
                    tuiAutoFocus
                    [min]="getRangeMin(accountForm.controls.interest.controls.monthSteps, i - 1)"
                    [max]="getRangeMax(accountForm.controls.interest.controls.monthSteps, i - 1)">
                  </tui-input-number>
                </ng-container>
                <ng-template #monthHeader>
                  <div class="header">
                    <span (click)="showEditControl(monthControl)">{{ getMonthRangeHeader(i - 1) }}</span>
                    <tui-svg *ngIf="i !== 1" src="tuiIconTrash" (click)="removeMonth(i - 1)"></tui-svg>
                  </div>
                </ng-template>
              </td>
            </ng-container>
          </ng-container>
        </ng-container>
      </tr>
    </tbody>
    <tbody tuiTbody [data]="accountForm.controls.interest.controls.rates.controls">
      <tr tuiTr *ngFor="let rangeControl of accountForm.controls.interest.controls.moneySteps.controls; let j = index">
        <ng-container *ngFor="let col of interestColumns; let i = index">
          <ng-container *ngIf="i === 0">
            <td *tuiCell="col" tuiTd (tuiActiveZoneChange)="closeEditControl($event, rangeControl)">
              <ng-container *ngIf="rangeControl.enabled; else moneyHeader">
                <tui-input-number
                  [formControl]="rangeControl"
                  postfix="руб."
                  [precision]="0"
                  tuiAutoFocus
                  [min]="getRangeMin(accountForm.controls.interest.controls.moneySteps, j)"
                  [max]="getRangeMax(accountForm.controls.interest.controls.moneySteps, j)"></tui-input-number>
              </ng-container>
              <ng-template #moneyHeader>
                <div class="header">
                  <span (click)="showEditControl(rangeControl)">{{ getMoneyRangeHeader(j) }}</span>
                  <tui-svg *ngIf="j !== 0" src="tuiIconTrash" (click)="removeMoney(j)"></tui-svg>
                </div>
              </ng-template>
            </td>
          </ng-container>
          <ng-container *ngIf="i !== 0">
            <td *tuiCell="col" tuiTd>
              <tui-input-number
                [formControl]="accountForm.controls.interest.controls.rates.at(i - 1).at(j)"
                [min]="0"
                postfix="%"
                [precision]="1"></tui-input-number></td
          ></ng-container>
        </ng-container>
      </tr>
    </tbody>
  </table>

  <div class="tui-form__row">
    <tui-checkbox-block [formControl]="accountForm.controls.interestIsCapitalized">
      Капитализация процентов
    </tui-checkbox-block>
  </div>

  <div class="tui-form__buttons tui-form__buttons_align_center">
    <button tuiButton class="tui-form__button" type="submit">Сохранить</button>
    <button tuiButton appearance="secondary" type="reset" class="tui-form__button" (click)="close()">Отмена</button>
  </div>
</form>
