@import '@taiga-ui/core/styles/taiga-ui-local.less';

.pulse-animation(@class, @color, @duration: 300ms, @repeats: 1) {
  @animation-name: ~'pulse-color-@{class}';
  @keyframes @animation-name {
    50% {
      background-color: @color;
    }
  }

  &.@{class} {
    // prettier-ignore
    animation: @animation-name ease-in-out @duration @repeats;
  }
}

:host {
  padding: 0 1rem;
  .transaction-list {
    display: flex;
    flex-direction: column-reverse;
  }

  .transaction {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 30rem;
    min-width: 15rem;
    height: var(--tui-height-l);
    font: var(--tui-font-text-s-2);
    .inset-border();
    .transition(background-color);

    tui-svg {
      opacity: 0;
      .transition(opacity);
      margin-left: 0.5rem;
      color: var(--tui-link);

      &:hover {
        cursor: pointer;
        color: var(--tui-link-hover);
      }
    }

    .date {
      display: flex;
      align-items: center;
    }

    .amount {
      text-align: right;
    }

    .type {
      color: var(--tui-text-03);
    }

    .dashed {
      text-decoration: underline;
      text-decoration-style: dotted;
    }

    &:hover {
      background-color: var(--tui-base-02);

      tui-svg {
        opacity: 1;
      }
    }

    &.just-saved {
      .pulse-animation(just-saved, var(--tui-secondary), 300ms, 2);
    }

    &.future {
      color: var(--tui-base-05);

      .pulse-animation(passed, var(--tui-warning-bg), 2s, 100);
    }

    &.show-more {
      tui-svg {
        opacity: 1;
        .transition(transform);

        &.open {
          transform: rotate(90deg);
        }
      }
    }
  }
}
