<div *ngFor="let transaction of transactions" class="transaction" [class.just-saved]="transaction.justSaved">
  <div class="date">
    {{ transaction.date }}
    <tui-svg src="tuiIconEdit2" (click)="edit.emit(transaction)"></tui-svg>
    <tui-svg src="tuiIconTrash" (click)="remove.emit(transaction)"></tui-svg>
  </div>
  <div class="amount">
    <tui-money
      [value]="transaction.amount"
      [colored]="true"
      [tuiHint]="transaction.memo"
      [class.dashed]="transaction.memo.length"></tui-money>
    <div class="type">{{ operationTypeStringify(transaction.type) }}</div>
  </div>
</div>
