<form [formGroup]="transactionForm">
  <div class="fields">
    <tui-input-date [formControl]="transactionForm.controls.date" tuiTextfieldSize="m" tuiAutoFocus>
      Дата
    </tui-input-date>
    <tui-select [formControl]="transactionForm.controls.type" [stringify]="operationTypeStringify" tuiTextfieldSize="m">
      Тип транзакции
      <tui-data-list-wrapper
        *tuiDataList
        [items]="operationTypes"
        [itemContent]="operationTypeStringify | tuiStringifyContent"></tui-data-list-wrapper>
    </tui-select>
    <tui-input [formControl]="transactionForm.controls.memo" tuiTextfieldSize="m">Заметки</tui-input>
    <tui-input-number
      [formControl]="transactionForm.controls.amount"
      [tuiTextfieldPostfix]="'RUB' | tuiCurrency"
      tuiTextfieldSize="m">
      Сумма
    </tui-input-number>
  </div>
  <div class="buttons">
    <button
      type="reset"
      tuiButton
      appearance="secondary"
      size="s"
      (click)="transactionForm.reset(); this.cancel.emit()">
      Отмена
    </button>
    <button
      type="submit"
      tuiButton
      appearance="primary"
      size="s"
      (click)="saveTransaction()"
      [disabled]="!transactionForm.valid">
      Сохранить
    </button>
  </div>
</form>
