<!--<h2 class="header">Вклады</h2>
<div class="content" *tuiLet="accounts$ | async as accounts">
  <div class="no-accounts" *ngIf="!accounts?.length; else list">
    <tui-block-status [card]="true">
      <tui-svg src="/assets/icons/safe-opened.svg" tuiSlot="top"></tui-svg>
      <h2>Здесь пока пусто...</h2>

      <button tuiButton appearance="primary" size="xl">Добавить счёт</button>
    </tui-block-status>
  </div>
  <ng-template #list> {{ accounts!.length }} вкладов </ng-template>
</div>
-->
<monitraks-add-account></monitraks-add-account>
