@import '@taiga-ui/core/styles/taiga-ui-local.less';
@import '../../page.less';

:host {
  .page();

  .header {
    tui-loader {
      width: 3rem;
    }

    tui-avatar,
    tui-loader {
      margin-right: 1rem;
    }
  }

  .section-group {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-gap: 1rem;
  }

  .section {
    margin: 2rem 0 0 0;

    &:first-of-type {
      margin-top: 0;
    }

    .section-header {
      display: flex;
      font: var(--tui-font-heading-5);
      margin: 0 0 1rem 0;

      .header-button {
        margin-left: 0.5rem;
      }
    }
  }
}
