<ng-container *tuiLet="accountData$ | async as account">
  <div class="header">
    <tui-loader *ngIf="isLoading" size="l" [showLoader]="true"></tui-loader>
    <tui-avatar
      *ngIf="account"
      [avatarUrl]="'https://raw.githubusercontent.com/melpnz/rblp/master/icon/' + account.bank + '.svg'"
      [text]="banks.findById(account.bank)?.name ?? ''">
    </tui-avatar>
    {{ isLoading ? 'Загрузка' : account?.name }}
  </div>
  <div class="content">
    <tui-loader size="xxl" [showLoader]="isLoading" [overlay]="true"></tui-loader>
    <ng-container *ngIf="!isLoading && account">
      <div class="section">
        <h5 class="section-header">Действия</h5>
        <div class="actions">
          <button tuiAction type="button" class="action add-transaction" icon="tuiIconPlusLarge">
            Добавить транзакцию
          </button>
          <button tuiAction type="button" class="action edit" icon="tuiIconEdit2Large" (click)="editAccount()">
            Редактировать
          </button>
          <button tuiAction type="button" class="action close" icon="tuiIconLockLarge">Закрыть</button>
          <button tuiAction type="button" class="action delete" icon="tuiIconTrash2Large" (click)="deleteAccount()">
            Удалить
          </button>
        </div>
      </div>
      <div class="section">
        <h5 class="section-header">Транзакции</h5>
        <div class="transactions"></div>
      </div>
    </ng-container>
  </div>
</ng-container>
