<div class="main-menu">
  <div class="logo">
    <img src="/assets/icons/logo.png" />
    <div class="title">Monitraks</div>
  </div>

  <div *ngFor="let item of menuItems" class="item" [routerLink]="item.link" routerLinkActive="active">
    <tui-svg [src]="item.icon" class="icon"></tui-svg>
    {{ item.name }}
  </div>
</div>

<tui-hosted-dropdown class="item" [content]="authPanel">
  <div class="item auth">
    <tui-svg src="tuiIconUserLarge" class="icon"></tui-svg>
    Профиль
    <tui-arrow></tui-arrow>
  </div>
</tui-hosted-dropdown>
<ng-template #authPanel>
  <monitraks-auth-panel></monitraks-auth-panel>
</ng-template>
