@import '@taiga-ui/core/styles/taiga-ui-local.less';

:host {
  height: 100vh;
  width: 14rem;
  flex: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #f7ebec;
  background: #6c698d;
  .shadow(6);

  .logo {
    height: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font: var(--tui-font-heading-3);
    font-weight: lighter;
    margin: 3rem 1rem;

    img {
      width: 80px;
      height: 80px;
      margin-bottom: 0.5rem;
      filter: brightness(0) saturate(100%) invert(89%) sepia(5%) saturate(358%) hue-rotate(307deg) brightness(107%)
        contrast(94%);
    }
  }

  .main-menu {
    width: 100%;
  }

  .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3rem;
    width: 100%;
    font: var(--tui-font-text-m-2);

    &.auth {
      tui-arrow {
        margin-left: 2rem;
      }
    }

    .icon {
      margin: 0 1.5rem 0 1.5rem;
    }

    &:hover {
      cursor: pointer;
      background-color: #625f81;
      color: #ffffff;
    }

    &.active {
      background-color: #f3e2e3;
      color: #625f81;
    }
  }
}
