<monitraks-auth-layout>
  <form class="tui-form" [formGroup]="form" (submit)="formSubmit()">
    <h2 class="tui-form__header">Восстановление пароля</h2>
    <div class="tui-form__row">
      <tui-input [formControl]="form.controls.login" tuiTextfieldIconLeft="tuiIconMailLarge">
        Email
        <input tuiTextfield placeholder="you@example.com" type="email" />
      </tui-input>
    </div>
    <div class="tui-form__row" *ngIf="error | async as message">
      <tui-notification status="error">Не удалось осуществить сброс: {{ message }}</tui-notification>
    </div>
    <div class="tui-form__buttons">
      <button
        type="submit"
        tuiButton
        class="tui-form__button"
        [disabled]="isLoading || !form.valid"
        [showLoader]="isLoading">
        Войти
      </button>
    </div>
    <div class="tui-form__row signup">Нет аккаунта? <a tuiLink routerLink="../signup">Регистрация</a></div>
  </form>
</monitraks-auth-layout>
