<tui-island size="s">
  <h3 class="tui-island__category">Сумма</h3>
  <tui-loader [showLoader]="fullInfo === null" [overlay]="true" size="xl" [inheritColor]="true"></tui-loader>
  <p class="tui-island__content tui-text_body-xl" *ngIf="fullInfo !== null">
    <tui-money [value]="fullInfo.currentMoney | moneyAmount"></tui-money>
  </p>
</tui-island>
<tui-island size="s">
  <h3 class="tui-island__category">Доход текущий</h3>
  <tui-loader [showLoader]="fullInfo === null" [overlay]="true" size="xl" [inheritColor]="true"></tui-loader>
  <p class="tui-island__content tui-text_body-xl" *ngIf="fullInfo !== null">
    <tui-money [value]="fullInfo.receivedProfit | moneyAmount"></tui-money>
  </p>
</tui-island>
<tui-island size="s">
  <h3 class="tui-island__category">Доход ожидаемый</h3>
  <tui-loader [showLoader]="fullInfo === null" [overlay]="true" size="xl" [inheritColor]="true"></tui-loader>
  <p class="tui-island__content tui-text_body-xl" *ngIf="fullInfo !== null">
    <tui-money [value]="fullInfo.totalProfit | moneyAmount"></tui-money>
  </p>
</tui-island>
<tui-island size="s">
  <h3 class="tui-island__category">Ставка</h3>
  <tui-loader [showLoader]="fullInfo === null" [overlay]="true" size="xl" [inheritColor]="true"></tui-loader>
  <p class="tui-island__content tui-text_body-xl" *ngIf="fullInfo !== null">{{ fullInfo.rate.toFixed(3) }}%</p>
</tui-island>
<tui-island size="s">
  <h3 class="tui-island__category">Доходность</h3>
  <tui-loader [showLoader]="fullInfo === null" [overlay]="true" size="xl" [inheritColor]="true"></tui-loader>
  <p class="tui-island__content tui-text_body-xl" *ngIf="fullInfo !== null">{{ fullInfo.xirr.toFixed(3) }}%</p>
</tui-island>
<tui-island size="s">
  <h3 class="tui-island__category">Закрытие</h3>
  <tui-loader [showLoader]="fullInfo === null" [overlay]="true" size="xl" [inheritColor]="true"></tui-loader>
  <p class="tui-island__content" *ngIf="fullInfo !== null">
    <ng-container *ngIf="fullInfo.closingDate !== null">
      <span>через {{ fullInfo.remainingDuration }} дней</span>
      <span>{{ fullInfo.closingDate }}</span>
    </ng-container>
  </p>
</tui-island>
<div class="actions">
  <button
    tuiButton
    type="button"
    size="m"
    class="action edit"
    icon="tuiIconSettings"
    appearance="secondary"
    (click)="editAccount.emit()">
    Параметры вклада
  </button>
  <div tuiGroup>
    <button tuiButton type="button" size="m" class="action close" icon="tuiIconLock">Закрыть</button>
    <button tuiButton type="button" size="m" class="action delete" icon="tuiIconTrash2" (click)="removeAccount.emit()">
      Удалить
    </button>
  </div>
</div>
