<tui-island size="s">
  <h3 class="tui-island__category">Сумма</h3>
  <tui-loader [showLoader]="fullInfo === null" [overlay]="true" size="xl" [inheritColor]="true"></tui-loader>
  <p class="tui-island__content tui-text_body-xl" *ngIf="fullInfo !== null">
    <tui-money [value]="fullInfo.currentMoney | moneyAmount"></tui-money>
  </p>
</tui-island>
<tui-island size="s">
  <h3 class="tui-island__category">Доход</h3>
  <tui-loader [showLoader]="fullInfo === null" [overlay]="true" size="xl" [inheritColor]="true"></tui-loader>
  <p class="tui-island__content tui-text_body-xl" *ngIf="fullInfo !== null">
    <tui-money [value]="fullInfo.receivedProfit | moneyAmount"></tui-money>
  </p>
</tui-island>
<tui-island size="s">
  <h3 class="tui-island__category">Ставка</h3>
  <tui-loader [showLoader]="fullInfo === null" [overlay]="true" size="xl" [inheritColor]="true"></tui-loader>
  <p class="tui-island__content tui-text_body-xl" *ngIf="fullInfo !== null">{{ fullInfo.rate }}%</p>
</tui-island>
<tui-island size="s">
  <h3 class="tui-island__category">Доходность</h3>
  <tui-loader [showLoader]="fullInfo === null" [overlay]="true" size="xl" [inheritColor]="true"></tui-loader>
  <p class="tui-island__content tui-text_body-xl" *ngIf="fullInfo !== null">{{ fullInfo.xirr.toFixed(3) }}%</p>
</tui-island>
<tui-island size="s">
  <h3 class="tui-island__category">Закрытие</h3>
  <tui-loader [showLoader]="fullInfo === null" [overlay]="true" size="xl" [inheritColor]="true"></tui-loader>
  <p class="tui-island__content" *ngIf="fullInfo !== null">
    <ng-container *ngIf="fullInfo.closingDate !== null">
      <span>через {{ fullInfo.remainingDuration }} дней</span>
      <span>{{ fullInfo.closingDate }}</span>
    </ng-container>
  </p>
</tui-island>
<tui-island size="s">
  <h3 class="tui-island__category">Параметры</h3>
  <tui-loader [showLoader]="fullInfo === null" [overlay]="true" size="xl" [inheritColor]="true"></tui-loader>
  <p class="tui-island__content" *ngIf="fullInfo !== null">
    <span>с пополнением</span>
    <span>без снятия</span>
  </p>
</tui-island>
