@import '@taiga-ui/core/styles/taiga-ui-local.less';

:host {
  padding: 0 3rem;
  overflow: auto;

  .toolbar {
    margin-bottom: 1rem;

    *:not(last-child) {
      margin-right: 0.5rem;
    }
  }

  td {
    padding: 0.5rem;
  }
}

.columns-selector {
  width: 15rem;
}

tui-tag {
  padding: 0.1rem;
  background: var(--tui-primary) !important;
}
