<div class="toolbar">
  <button tuiButton size="s" appearance="primary" [icon]="'tuiIconPlus'" (click)="addRequested.emit()">
    Добавить вклад
  </button>
  <tui-hosted-dropdown [content]="columnsSelector">
    <button tuiButton size="s" type="button" [iconRight]="iconArrow" appearance="secondary">Выбор столбцов</button>
    <ng-template #columnsSelector>
      <monitraks-reorder
        [(items)]="allColumns"
        [(enabled)]="selectedColumns"
        class="columns-selector"></monitraks-reorder>
    </ng-template>
  </tui-hosted-dropdown>
</div>

<table tuiTable class="table" [columns]="selectedColumns">
  <thead>
    <tr tuiThGroup>
      <th *tuiHead="'name'" tuiTh>Название</th>
      <th *tuiHead="'bank'" tuiTh>Банк</th>
      <th *tuiHead="'currentTotalAmount'" tuiTh>Сумма</th>
      <th *tuiHead="'currentIncomeAmount'" tuiTh>Доход, руб</th>
      <th *tuiHead="'currentIncomePercent'" tuiTh>Доход, % год</th>
      <th *tuiHead="'expectedIncomeAmount'" tuiTh>Ожидаемый доход, руб</th>
      <th *tuiHead="'openedAt'" tuiTh>Дата открытия</th>
      <th *tuiHead="'duration'" tuiTh>Срок</th>
      <th *tuiHead="'closingAt'" tuiTh>Дата закрытия</th>
      <th *tuiHead="'canContribute'" tuiTh>Пополения</th>
      <th *tuiHead="'canWithdraw'" tuiTh>Снятия</th>
      <th *tuiHead="'currentNominalRate'" tuiTh>Номинальная ставка</th>
      <th *tuiHead="'currentRealRate'" tuiTh>Реальная ставка</th>
      <th *tuiHead="'interestInfo'" tuiTh [sorter]="null">Проценты</th>
    </tr>
  </thead>
  <tbody
    *tuiLet="accountsData | tuiTableSort | as: AccountTableData as sortedAccounts"
    tuiTbody
    [data]="sortedAccounts">
    <tr *ngFor="let account of sortedAccounts" tuiTr>
      <td *tuiCell="'name'" tuiTd>{{ account.name }}</td>
      <td *tuiCell="'bank'" tuiTd>{{ account.bank }}</td>
      <td *tuiCell="'currentTotalAmount'" tuiTd></td>
      <td *tuiCell="'currentIncomeAmount'" tuiTd></td>
      <td *tuiCell="'currentIncomePercent'" tuiTd></td>
      <td *tuiCell="'expectedIncomeAmount'" tuiTd></td>
      <td *tuiCell="'openedAt'" tuiTd>{{ account.openedAt }}</td>
      <td *tuiCell="'duration'" tuiTd>{{ account.duration }}</td>
      <td *tuiCell="'closingAt'" tuiTd>{{ account.closingAt }}</td>
      <td *tuiCell="'canContribute'" tuiTd>
        <tui-badge
          size="m"
          [value]="account.canContribute ? 'Да' : 'Нет'"
          [status]="account.canContribute ? 'success' : 'neutral'"></tui-badge>
      </td>
      <td *tuiCell="'canWithdraw'" tuiTd>
        <tui-badge
          size="m"
          [value]="account.canWithdraw ? 'Да' : 'Нет'"
          [status]="account.canWithdraw ? 'success' : 'neutral'"></tui-badge>
      </td>
      <td *tuiCell="'currentNominalRate'" tuiTd></td>
      <td *tuiCell="'currentRealRate'" tuiTd></td>
      <td *tuiCell="'interestInfo'" tuiTd>{{ account.interestScheduleDescription }}</td>
    </tr>
  </tbody>
</table>
